@import './variables';

/*top navigation*/

.navbar button {
  border: none;
  outline: 0 auto -webkit-focus-ring-color;
}
.navbar {
  background: $main;

  p {
    color: $textnav;
  }
  hr {
    border: 1px solid $primarybg;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: $textnav;
  &:hover {
    color: $navhover;
  }
}
