@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import '~bootstrap/scss/bootstrap';

@import './navbar';
@import './variables';

@mixin flexcenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  height: 100vh;
}

/*home slider*/
.slideshow {
  background-color: $main;
  width: 100%;
  height: 91vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  animation: cycleImages 31s infinite;
}
/*animating individual slides*/
.slideshow-item:nth-child(1) {
  animation-delay: 0s;
}
.slideshow-item:nth-child(2) {
  animation-delay: 10s;
}
.slideshow-item:nth-child(3) {
  animation-delay: 20s;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: zoom 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
  animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
  animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img {
  animation-delay: 20s;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.2);
  }
}

.slideshow-item-text {
  position: absolute;
  top: 38%;
  left: 10vw;
  transform: translateY(-40%);
  h1 {
    color: $textnav;
    font-weight: 800;
  }

  .btn-outline-secondary {
    border: transparent;
    color: $textnav;
    background: $main;
    margin-top: 30px;
  }
  a {
    text-decoration: none;
    color: $textnav;
    &:hover {
      color: $primarybg;
    }
  }
}
/*footer*/
.footer {
  background: $main;
  color: $textnav;
  @include flexcenter();
  position: fixed;
  bottom: 0;
  height: 4vh;
}

/*about used for spacing */
.about {
  padding: 2rem 0 2rem 0;
}

/*services*/
.text-center {
  color: $primarybg;
  &:hover {
    transition: 2s;
    transform: translateY(10px);
    color: $main;
  }
}

.quote {
  @include flexcenter();
  padding-top: 4rem;
  .btn-outline-primary {
    border: transparent;
    background: $main;
    &:hover {
      border: 1px solid $main;
    }
    a {
      text-decoration: none;
      color: $textnav;
    }
  }
}
/*error page*/
.error {
  @include flexcenter();
  margin-top: 30vh;
}
.error-btn {
  @include flexcenter();
  margin-top: 10vh;
}
